/* primery text-color - #757575
secondary text-color - #212121
primery background-color - #F5F5F5
footer-hero color - #2F303A
button active color - #2196F3
web color - #2196F3
studio color - #000000
button color - #F5F4FA
color adress - #FFFFFF
color footer contact - rgba(255, 255, 255, 0.6) */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --active-color: #2196f3;
  --button-color: #f5f4fa;
  --primery-bg-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0px;
  margin: 0px;
}

a,
ul {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  margin: 0px;
}
body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.main-header {
  display: flex;
}
header {
  border-bottom: 1px solid #ececec;
}
.header-grow {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;

  background-color: #ffffff;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
/*logo style*/
.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.web {
  color: var(--active-color);
  font-family: Raleway;
  font-size: Bold;
  font-size: 26px;
  line-height: 1.2;
  line-height: 100%;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.studio {
  color: #000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #000000;
}

.studio-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*utilited for all ul*/
.utilited-ul {
  list-style: none;
}

/*site navigation style*/
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-color);
}

.site-nav .active-page {
  color: var(--active-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
}
.site-nav .active-page::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

/*contact-style*/
.contact-header .item + .item {
  margin-left: 50px;
}
.mail-ikon {
  fill: var(--primery-text-color);
  margin-right: 10px;
  width: 18px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.telefon-ikon {
  fill: var(--primery-text-color);
  margin-right: 10px;
  width: 20px;
  height: 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-header .contact {
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}
.contact-header {
  display: flex;
  margin-left: auto;
  justify-content: baseline;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-header .contact:hover,
.contact-header .contact:focus {
  color: var(--active-color);
}
.contact-header .contact:hover .mail-ikon,
.contact-header .contact:focus .mail-ikon {
  fill: var(--active-color);
}

.contact-header .contact:hover .telefon-ikon,
.contact-header .contact:focus .telefon-ikon {
  fill: var(--active-color);
}
.contact-footer {
  color: #ffffff 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--active-color);
}

/*Button*/
.button {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: 0px;

  color: var(--secondary-text-color);
  background-color: var(--button-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  
}

.hero .button-hero {
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--active-color);
}
/* All section background */

/*Hero*/
.hero {
  background: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("./image/hero.jpg");
  /* background:linear-gradient
  (to right,rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url('./image/hero.jpg'); */

  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  margin-right: auto;
  margin-left: auto;
  width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Features style */
.feautres {
  padding-bottom: 0px;
}

.feature-li {
  width: 270px;
}
.features-list .feature-li + .feature-li {
  margin-left: 30px;
}
.features-list {
  justify-content: center;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
.feature-ikon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.ikon-feature {
  width: 70px;
  height: 70px;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* section title style */
.section .section-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Works */
.works {
  display: flex;
  align-self: center;
  justify-content: center;
}
.works .item {
  display: inline-block;
}
.works .item + .item {
  margin-left: 30px;
}

.item-overlay {
  position: relative;
}
.item-box {
  position: absolute;
  content: "";
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-item-overlay {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primery-bg-color);
}

/* Team style */
.our-team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.team {
  display: flex;
}
.team-photo {
  display: block;
}
.team-li {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .team-li + .team-li {
  margin-left: 30px;
}
.team .team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team .team-text {
  text-align: center;
  margin-bottom: 30px;
}
.team-social {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  gap: 10px;
  list-style: none;
}
.social {
  display: flex;
  gap: 10px;
}
.social-li {
  display: flex;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  
}

.social-ikon-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}
.social-link:hover .social-ikon-item,
.social-link:focus .social-ikon-item {
  fill: var(--primery-bg-color);
}

/* our clients */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.clients-item {
  display: flex;
  /* width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms  cubic-bezier(0.4, 0, 0.2, 1); */
  justify-content: center;
  align-items: center;
}
.clients-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  
  transition: border 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.client-ikon-item {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item:focus .client-ikon-item,
.clients-item:hover .client-ikon-item {
  fill: var(--active-color);
}
.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--active-color);
}
/*Footer  */
.container-footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer {
  display: flex;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.adress {
  display: inline-block;
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.adress:hover,
.adress:focus{
  color: var(--active-color);
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  text-decoration: none;
}
.footer-add .social {
  display: flex;
}
.add-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.container-footer {
  display: inline-flex;
  align-items: baseline;
  gap: 94px;
}
.footer-add {
  display: flex;
  flex-direction: column;

}
.footer-contacts {
  display: flex;
  flex-direction: column;
}
.social-link-add {
  background-color: rgba(255, 255, 255, 0.1);
}
.add {
  fill: #ffffff;
}
/* Portfolio styles */

.buttons-portfolio .button:hover,
.buttons-portfolio .button:focus {
  color: #ffffff;
  background-color: var(--active-color);
}

.buttons-portfolio {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.47, 0, 0.745, 0.715),background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  
}
.portfolio-element {
  max-width: calc((100% - 60px) / 3);
  border-bottom: 1px solid #eeeeee;
  display: block;
  cursor: pointer;
}
.portfolio-text {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px 20px;
  width: 370px;
}
/* .portfolio-element:nth-child(3n) {
  margin-right: 0;
} */

/* .portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.portfolio .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-before {
  position: relative;
  overflow: hidden;
}
.portfolio-before::before {
  display: block;
  content: " ";
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 100%;
   
   transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
  opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.portfolio-link:hover .portfolio-before::before,
.portfolio-link:focus .portfolio-before::before {
  opacity: 1;
 transform: translateY(-100%) ;
}
.portfolio-before-text {
  color: var(--primery-bg-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 56;
  letter-spacing: 0.03em;
}
.text-o {
  position: absolute;
  /* top: 0; */
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  top:100%;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1),
  opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.portfolio-link{
  display: block;
}
.portfolio-link:hover .text-o,
.portfolio-link:focus .text-o {
  opacity: 1;
  transform: translateY(-100%) ;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.hero-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 521px;
  background-color: var(--primery-bg-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  position: relative;
  transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: absolute;
  top:8px;
  right: 8px;
  /* margin-right: 8px;
  margin-top: 8px; */
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primery-bg-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  width: 18px;
  height: 18px;
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--active-color);
}
